<div>
  <ul>
      <li>{{cartProduct.name}}</li>
      <li>{{cartProduct.description}}</li>
      <li>{{cartProduct.price}}</li>
      <li>{{cartProduct.category}}</li>
      <li>{{cartProduct.isAvailable}}</li>
    </ul>
      <div>
        <button
          class="btn btn-outline-primary"
          (click)="increaseCartProduct(cartProduct)"
          [disabled]="!cartProduct.isAvailable"
        >+</button>
        <b>{{cartProduct.quantityInCart}}</b>
        <button
          class="btn btn-outline-primary"
          (click)="decreaseCartProduct(cartProduct, i)"
        >-</button>
      </div>
      <div>
        <button
          class="btn btn-outline-danger"
          (click)="removeFromCart(cartProduct, i)"
        >Remove from cart
        </button>
      </div>

</div>


