<div>
  <ul>
      <li>{{cartProduct.name}}</li>
      <li>{{cartProduct.description}}</li>
      <li>{{cartProduct.price}}</li>
      <li>{{cartProduct.category}}</li>
      <li>{{cartProduct.isAvailable}}</li>
    </ul>
      <div>
        <button class="btn btn-outline-primary" (click)="addOneCartProduct(cartProduct)">+</button>
        <b>{{cartProduct.quantityInCart}}</b>
        <button class="btn btn-outline-primary" (click)="deleteOneCartProduct(cartProduct, i)">-</button>
      </div>
      <div>
        <button class="btn btn-outline-danger"(click)="removeFromCart(i)">Remove from cart</button>
      </div>

</div>


