<div>
  <ul>
    <li>{{product.name}}</li>
    <li>{{product.description}}</li>
    <li>{{product.price}}</li>
    <li>{{product.category}}</li>
    <li>{{product.isAvailable}}</li>
  </ul>
  <div>
  <button class='btn btn-outline-primary' (click)='toBuy()' [disabled]='!product.isAvailable'>Buy</button>
  <br>
  <button class='btn btn-outline-primary' (click)='addToCart(product)' [disabled]='!product.isAvailable'>Add to cart</button>
  <br>
  <button class='btn btn-outline-info' (click)='about(product)'>About</button>
</div>
<hr>
