
<ng-container *ngIf="cartProducts.length == 0; then isEmpty; else isNotEmpty">
</ng-container>
  <ng-template #isEmpty>
    <div>
      Cart is empty :(
    </div>
  </ng-template>
  <ng-template #isNotEmpty>
    <div>
      <p>Total price: {{totalPrice}}</p>
      <h3>Goods Amount: {{totalAmount}}</h3>
      </div>
      <div class="list-group float-left" *ngFor='let cartProduct of cartProducts; let i = index'>
        <app-cart appChangeHoverStyle class="list-group-item"
          [cartProduct]="cartProduct"
          [i]="i"
          (increaseCartProductEmitter)='onIncreaseCartProductEmitter(cartProduct)'
          (decreaseCartProductEmitter)='onDecreaseCartProductEmitter(cartProduct, i)'
          ></app-cart>
      </div>
  </ng-template>

