
<ng-container *ngIf='cartProducts.length == 0; then isEmpty; else isNotEmpty'>
</ng-container>
  <ng-template #isEmpty>
    <div>
      Cart is empty :(
    </div>
  </ng-template>
  <ng-template #isNotEmpty>
    <div>
        Order By:
          <select [(ngModel)]='selectedMeasure'>
            <option *ngFor='let measure of measures' [ngValue]='measure'>
                {{measure === 'quantityInCart' ? 'quantity' : measure}}
            </option>
          </select>

      <p>Total price: {{totalPrice | currency:'USD' }}</p>
      <h3>Goods Amount: {{totalAmount}}</h3>
      </div>
      <div class='list-group float-left'
            *ngFor='let cartProduct of cartProducts | orderBy : selectedMeasure; let i = index'
            >
        <app-cart appChangeHoverStyle class='list-group-item'
          [cartProduct]='cartProduct'
          [i]='i'
          (increaseCartProductEmitter)='onIncreaseCartProductEmitter(cartProduct)'
          (decreaseCartProductEmitter)='onDecreaseCartProductEmitter(cartProduct, i)'
          ></app-cart>
      </div>
      <button (click)="onGoToOrder()">Make an order</button>
  </ng-template>
